.basket--head{
  margin-top: 5rem;
  margin-bottom: 5rem;
  p{
    color: $green;
    font-size: 1.5rem;
    text-align: center;
    &:first-child{
      text-align: left;
    }
  }
}
.item-basket__img--wrap{
  @extend .items--layoutList__img-wrap;
  min-height: 16rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  img{
    @extend .items--layoutList__img;
  }
}

.item-basket__title{
  @extend .items--layout1__title;
  text-align: left;
  font-weight: normal;
  margin-top: 5rem;
}
.item-basket__price{
  @extend .items--layout1__price;
  font-weight: bold;
  text-align: left;
}
.count--body{
  width: 5rem;
  margin: 0 auto;
  position: relative;
  margin-top: 5rem;
}
.count--counter{
  text-align: center;
  display: block;
  color: $dark-blue;
  font-size: 1.7rem;
  line-height: 5rem;
  @include opensans(700);
  border: 1px solid $green;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.count-control{
  position: absolute;
  top: 50%;
  margin-top: -1.3rem;
}
.control--left{
  left: -2rem;
}
.control--right{
  right: -2rem;
}
.item-basket__total{
  @extend .items--layout1__price;
  font-weight: bold;
  margin-top: 6.3rem;
}

.controls--delete{
  background: url('/assets/img/icon-delete.png') no-repeat center;
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  margin-top: 6.6rem;
}

.basket--item{
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid $green;
}
.basket--footer{
  p{
    font-size: 1.5rem;
  }
  .item-footer__total{
    color: $dark-blue;
    font-size: 1.7rem;
    @include opensans(700);
    font-weight: bold;
    padding-left: 1rem;
  }
}
.align-center{
  text-align: center;
}
.no-topmargin{
  margin-top: 0 !important;
}