.catalog_controls--wrap{
  margin-top: 2.8rem;
}

.no-margin{
  margin-top: 0 !important;
}

.btn-layout{
  padding: 0.7rem 1.9rem;
  line-height: 3.1rem;
  @include transition(.25s);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  cursor: pointer;
  &:hover,
  &:focus{
    color: #fff;
    background: $green;
  }
}

.btn-layout.active{
  @extend .btn-layout:hover;
}

.btn-itemsPerPage{
  font-weight: bold;
  cursor: pointer;
}

.items--layoutList__actions{
  margin-top: 5.1rem;
  .items--layoutList__add{
    @extend .items--layout1__add;
    color: #fff;
    text-align: center;
    line-height: 5.2rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
  }
  .items--layoutList__quickBuy{
    @extend .items--layout1__add;
    color: $green;
    text-align: center;
    background: #fff;
    line-height: 5.2rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    @include transition(.25s);
    &:hover,
    &:focus {
      background:$green;
      color: #fff;
    }
  }
}
.items--layoutList__img-wrap{
  text-align: center;
  border: 1px solid $grey;
  min-height: 26rem;
  position: relative;
  .items--layoutList__img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.items--layoutList__info{
  .items--layoutList__avaliable{
    color: $green;
    font-size: 1.5rem;
  }
  .items--layoutList__title{
    @extend .items--layout1__title;
    text-align: left;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0;
  }
  .items--layoutList__price{
    @extend .items--layout1__price;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
  }
  .items--layoutList__description{
    p{
      text-indent: 1.5rem;
    }
  }
}

.items--layoutList__new{
    display: inline-block;
    position: relative;
    line-height: 2.8rem;
    color: #fff;
    padding: 0 2rem;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #b4d67f; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4d67f 0%, #b4d67f 50%, #a1c281 51%, #a1c281 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4d67f), color-stop(50%,#b4d67f), color-stop(51%,#a1c281), color-stop(100%,#a1c281)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4d67f 0%,#b4d67f 50%,#a1c281 51%,#a1c281 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4d67f 0%,#b4d67f 50%,#a1c281 51%,#a1c281 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4d67f 0%,#b4d67f 50%,#a1c281 51%,#a1c281 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4d67f 0%,#b4d67f 50%,#a1c281 51%,#a1c281 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d67f', endColorstr='#a1c281',GradientType=0 ); /* IE6-9 */
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.4rem 0 1.4rem 1rem;
      border-color: transparent transparent transparent #fff;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      border-style: solid;
      border-width: 1.4rem 1rem 1.4rem 0;
      border-color: transparent #fff transparent transparent;
    }
  }

.items--layoutList{
  padding-bottom: 5rem;
  border-bottom: 1px solid $green;
  margin-bottom: 5rem;
  &:last-child{
    margin-bottom: 2rem;
  }
}
.catalog{
  margin-bottom: 16rem;
}

.pagination.eco-pagination{
  li{
    a{
      color: $dark-blue;
      border: 0;
      @include opensans(300);
      font-size: 1.5rem;
      @include transition(.25s);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      &:hover {
        background: $grey;
      }
      &:focus {
        background: $green;
      }
    }
  }
  .active{
    a{
      color: $dark-blue;
      background: $green;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

.catalog .items--layout2{
  margin-bottom: 9rem;
}

.items--layout2__new{
  @extend .items--layoutList__new;
  position: absolute;
  left: 50%;
  margin-left: -5.6rem;
  bottom: -7rem;
}

.items--layout2__sale{
  @extend .items--layoutList__new;
  position: absolute;
  min-width: 11.3rem;
  left: 50%;
  margin-left: -5.6rem;
  bottom: -7rem;
  background: #ead1b4; /* Old browsers */
  background: -moz-linear-gradient(top,  #ead1b4 0%, #ead1b4 50%, #cbbeaa 51%, #cbbeaa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ead1b4), color-stop(50%,#ead1b4), color-stop(51%,#cbbeaa), color-stop(100%,#cbbeaa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ead1b4 0%,#ead1b4 50%,#cbbeaa 51%,#cbbeaa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ead1b4 0%,#ead1b4 50%,#cbbeaa 51%,#cbbeaa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ead1b4 0%,#ead1b4 50%,#cbbeaa 51%,#cbbeaa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ead1b4 0%,#ead1b4 50%,#cbbeaa 51%,#cbbeaa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead1b4', endColorstr='#cbbeaa',GradientType=0 ); /* IE6-9 */

}