.top-a {
    min-height: 5rem;
    background: $grey;
    line-height: 5rem;
}
.contactsHolder--item {
    padding-right: 2.8rem;
    font-size: 1.4rem;
    color: $dark-blue;
    text-decoration: none;
}
.userAcces {
    text-align: right;
}
.userAcces--item {
    color: $dark-blue;
    font-size: 1.4rem;
}
.contactsHolder--item.emailHolder a {
    color: $dark-blue;
    &:hover, &:focus {
        color: lighten($dark-blue, 10%);
        text-decoration: none;
    }
}
.main_header {
    margin: 5.6rem 0 5.5rem;
}
.nav {
    ul {
        line-height: 1.4rem;
        padding-left: 1.9rem;
    }
}
.nav--item {
    float: left;
}
.nav--item__link {
    padding: 1.3rem 2rem;
    display: block;
    text-decoration: none;
    color: $dark-blue;
    font-size: 1.7rem;
    @include opensans(300);
    @include transition(.25s);
    &:hover, &:focus {
        text-decoration: none;
        color: #fff;
        background: $green;
    }
}
.main_header--basket {
    border: 1px solid transparent;
    min-height: 6.5rem;
    border-radius: 1rem;
    line-height: 6.5rem;
    text-align: center;
    background: url('/assets/img/icon-basket.png') no-repeat 35% 48%;
    @include transition(.25s);
    &:hover, &:focus {
        border: 1px solid $green;
    }
}
.search {
    padding-left: 4rem;
    min-height: 2.6rem;
    margin-top: 1.6rem;
}
.input-search {
    border: 1px solid $grey;
    border-radius: 2rem;
    font-size: 1.4rem;
    background: url('/assets/img/search-icon.png') no-repeat 1rem 0.5rem;
    padding-left: 3rem;
    @include transition(.25s);
    &:hover, &:focus {
        border-radius: 2rem !important;
        -webkit-border-radius: 2rem !important;
        outline: none;
        border: 1px solid $green;
    }
}
.btn-custom {
    min-height: 2.4rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.4rem;
}
.btn-custom__search {
    @extend .btn-custom;
    background: $dark-blue;
    color: #fff;
    border: 1px solid $dark-blue;
    @include transition(.25s);
    &:hover, &:focus {
        background: $green;
        color: $dark-blue;
        border: 1px solid $green;
        outline: none;
    }
}
.btn-custom__logout {
    @extend .btn-custom;
    background: #fff;
    color: $dark-blue;
    line-height: 1.4rem;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    border: 1px solid #fff;
    @include transition(.25s);
    &:hover, &:focus {
        background: $dark-blue;
        color: #fff;
        border: 1px solid $dark-blue;
        outline: none;
    }
}
.main_header--basket__count {
    min-height: 3.4rem;
    width: 3.4rem;
    background: #b4d67f;
    border-radius: 50%;
    display: inline-block;
    line-height: 3.4rem;
    text-align: center;
    color: $dark-blue;
    font-size: 1.8rem;
    margin-left: 4rem;
}
