.item--aside__title{
  font-size: 2.2rem;
  margin: 0 0 1.5rem;
  color: $green;
}

.list--aside__green_arrow{
  list-style: none;
  padding: 0;
  li{
    @include opensans(300);
    font-size: 1.5rem;
    i{
      color: $green;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
}

.catalog-item{
  .items--layoutList{
    border-bottom: none;
  }
}

.items--catalog_item__img-wrap{
  @extend .items--layoutList__img-wrap;
  min-height: 36rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.catalogItem--description{
  @extend .bq--blog;
  text-align: left;
  border-left: 5px solid $grey;
  font-size: 1.3rem;
  p{
    text-indent: 1.5rem;
  }
}

.catalogItem--usecase__title{
  @extend .item--aside__title;
}
.catalogItem--usecase{
  p{
    font-size: 1.5rem;
    @include opensans(300);
  }
}
.bordered-grey{
  border-bottom: 1px solid $grey;
}