.main--bg{
  background: url('/assets/img/main_bg.jpg') no-repeat center;
  min-height: 90rem;
  overflow: hidden;
}
.main--bg__short{
  @extend .main--bg;
  min-height: 15rem;
}
.main_title{margin-top: 20rem;}
.main_title__short{margin-top: 2rem;}
.main_title h1, .main_title__short h1{
  font-family: 'caviar_dreamsregular';
  color: #fff;
  font-size: 6.5rem;
}

.cavier_bold{
  font-family: 'caviar_dreamsbold';
}
.main_title .description{
  color: #fff;
  font-size: 2.4rem;
  margin-top: 9.5rem;
  @include opensans(300);
}
.btn-wo_bg{
  margin-top: 9.6rem;
  border: 1px solid #fff;
  border-radius: 20px;
  min-height: 11rem;
  display: block;
  line-height: 11rem;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  @include transition(.25s);
  &:hover{
    text-decoration: none;
    color: $dark_blue;
    background: #fff;
  }
}


.last_update{
  border-top: 1px solid #5f7a87;
  min-height: 86.6rem;
}
.wooden_bg{
  background: url('/assets/img/tileable_wood_texture.png') repeat;
}
.title{
  padding-bottom: 3.5rem;
  margin-top: 4.5rem;
  text-align: center;
  color: $dark-blue;
}
.title_underline{
  @extend .title;
  border-bottom: 1px solid $dark-blue;
}
.title_underline--white{
  @extend .title;
  border-bottom: 1px solid #fff;
}

.title_underline--grey{
  @extend .title;
  border-bottom: 1px solid $grey;
}
.items--layout1{
  background: #fff;
  min-height: 45.8rem;
  padding: 3rem;
  text-align: center;
}
.layout1_width{
  margin: 0 2px;
  width: 24.6%;
}
.items-wrap{margin-top: 6rem;}
.items--layout1__title{
  color: $dark-blue;
  font-size: 1.7rem;
  @include opensans(300);
  text-align: center;
}

.items--layout1__price{
  color: $dark-blue;
  font-size: 1.7rem;
  @include opensans(700);
  text-align: center;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.items--layout1__add{
  display: block;
  background: $green;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 3.2rem;
  border: 1px solid $green;
  @include transition(.25s);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dark-blue;
    background: #fff;
  }
}
.items--layout1__more{
  color: $dark-blue;
  text-decoration: none;
  @include transition(.25s);
  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten( $dark-blue, 10% );
  }
}
.btn-catalog_link{
  margin-top: 6rem;
  border: 2px solid $dark-blue;
  min-height: 9.6rem;
  display: block;
  line-height: 9.6rem;
  color: $dark-blue;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  font-size: 2rem;
  @include transition(.25s);
  &:hover,
  &:focus {
    color: $dark-blue;
    background: #fff;
    border: 2px solid #fff;
    text-decoration: none;
  }
}
.icon-custom{
  display: inline-block;

}
.icon-basket{
  background: url('/assets/img/icon-basket_blue.png') no-repeat center;
  width: 3.1rem;
  height: 2.3rem;
  margin: -0.3rem 2rem;
}

.icon-basket__white{
  background: url('/assets/img/icon-basket__white.png') no-repeat center;
  width: 3.1rem;
  height: 2.3rem;
  margin: -0.3rem 1rem;
  @include transition(.25s);
  &:hover,
  &:focus{
    background: url('/assets/img/icon-basket_blue.png') no-repeat center;
  }
}

.items--layoutList__add:hover .icon-basket__white{
  @extend .icon-basket__white:hover;
}

.items--layoutList__add:focus .icon-basket__white{
  @extend .icon-basket__white:focus;
}

.popular_items{
  border-top: 1px solid $grey;
  min-height: 86.6rem;
}

.items--layout2{
  @extend .items--layout1;
  border: 1px solid $grey;
  border-radius: 20px;
}
.items--layout2__title{
  @extend .items--layout1__title;
}
.items--layout2__price{
  @extend .items--layout1__price;
}
.items--layout2__add{
  @extend .items--layout1__add;
}
.items--layout2__more{
  @extend .items--layout1__more;
}

.layout2_width{
  width: 24%;
  margin: 0 5px;
}

.last_seen{
  background: $light-pink;
}
.items--layout3{
  @extend .items--layout1;
  border: 1px solid $grey;
  border-radius: 10px;
  min-height: 20.3rem;
  padding: 1rem 3rem 3rem;
  margin-right: 2rem;
  &:last-child{
    margin-right: 0;
  }
}
.items--layout3__title{
  @extend .items--layout1__title;
}
.items--layout3__price{
  @extend .items--layout1__price;
}
.items--layout3__add{
  @extend .items--layout1__add;
}
.items--layout3__more{
  @extend .items--layout1__more;
}

.layout3_bottom{
  margin-bottom: 5rem;
}
.brand-item{
  text-align: center;
  min-height: 21.3rem;
  line-height: 21.3rem;
}
.brands{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.aboutBrand--title{
  text-align: center;
  color: $dark-blue;
  font-size: 1.7rem;
}

.aboutBrand--info{
  font-size: 1.7rem;
  color: $dark-blue;
}
.btn-flat{
  display: block;
  line-height: 4rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn-white{
  background: #fff;
  color: $dark-blue;
  font-size: 1.5rem;
  @include transition(.25s);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $green;
  }
}

.article--title{
  font-size: 1.9rem;
  margin: 0 0 1rem;
}

.article--inf{
  margin: 1rem 0;
  color: $green;
  font-size: 1.2rem;
  font-style: italic;
}

.article--content{
  margin: 1rem 0 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid $dark_blue;
  p{
    margin: 0;
    font-size: 1.4rem;
    color: $dark_blue;
  }
}
.article--more{
  display: block;
  margin-top: 1.3rem;
  color: $dark_blue;
  text-decoration: none;
  @include transition(.25s);
  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten( $dark-blue, 10% );
  }
}

.articles--wrap{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.articles_icon{
    padding: 0;
  .article-icon{
    display: block;
    background: url('/assets/img/icon-articles.png') no-repeat center;
    min-height: 20rem;
    height: 100%;
    width: 100%;
    @include transition(.25s);
    cursor: pointer;
    &:hover,
    &:focus {
      background: url('/assets/img/icon-articles_hover.png') no-repeat center;
    }
  }
}

.articles_small{
  margin-top: 6.5rem;
}
.articles_small--item{
  border-left: 1px solid $grey;
}
.articles_small--title{
  @extend .article--title;
  font-size: 1.4rem;
  min-height: 3rem;
}

.articles_small--inf{
  @extend .article--inf;
}

.breadcrumbs{
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  line-height: 3.2rem;
  @include opensans(300);
  font-size: 1.4rem;
}
.breadcrumbs--you_here{
  display: block;
  background: $grey;
  color: $dark-blue;
  padding: 0 2rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
.breadcrumbs--item{
  color: $dark-blue;
  text-decoration: none;
  @include transition(.25s);
  &:hover,
  &:focus {
    color: $green;
    text-decoration: none;

  }
}

.article--img{
  img{
    width: 100%;
  }
}
.article--title__blog{
  @extend .article--title;
  margin: 3rem 0 2rem;
}
.pubDate--blog{
  padding-right: 1rem;
}
.content--blog{
  p{
    text-indent: 1.5rem;
  }
  border-bottom: none;
}
.bq--blog{
  margin: 5rem 0 5rem;
  text-align: center;
  font-size: 1.4rem;
}
.bq--green{
  border-left: 5px solid $green;
  color: $green;
}

.article--footer{
  margin: 4rem 0;
}
.author--link{
  color: $green;
  text-decoration: none;
  line-height: 2.2rem;
  margin-left: 1rem;
  @include transition(.25s);
  &:hover,
  &:focus {
    text-decoration: none;
    color: $grey;
  }
}
.asideArticle--article.articles_small--item{
  border-left: none;
  border-bottom: 1px solid $grey;
  padding-bottom: 1.7rem;
}
.asideArticle--article{
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.articles_small--img-wrap{
  margin-bottom: 3rem;
}
.articleAside--wrap .articleAside--title{
  color: $dark-blue;
  font-size: 2.3rem;
  @include opensans(300);
  margin: 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid $grey;
}
.seotxt--wrap{
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 13.5rem;
  margin-bottom: 4rem;
  p{
    text-indent: 1.5rem;
  }
}
.btn-returnBtn{
  @extend .btn-catalog_link;
  min-height: 5.6rem;
  line-height: 5.6rem;
  border: 1px solid $green;
  &:hover,
  &:focus {
    border: 1px solid $dark-blue;
  }
}
.article--returnBtn{
  margin: 0 1.5rem;
}