.nav-eco{
  li{
    padding: 0 15px;
    a{
      display: block;
      border: 1px solid $green;
      border-radius: 1.5rem;
      font-size: 1.7rem;
      color: $dark-blue;
      @include transition(.25s);
      &:hover,
      &:focus {
        background: $green;
      }
    }
  }

  li.active{
    a{
      background: $green;
      color: #fff;
    }
  }
  li.valid{
    a{
      background: $green url('/assets/img/icon-valid.png') no-repeat 95%;
      color: #fff;
    }
  }
}

.eco-group{
  padding: 0 15px !important;
  float: left !important;
}
.processingOrder__tab--wrap{
  padding: 6rem 0;
}
.processingOrder__label{
  line-height: 3.4rem;
  margin: 1.5rem 0;
  @include opensans(300);
  font-size: 1.7rem;
  cursor: pointer;
}
.green-sup{
  color: $green;
}
.tab-information{
  margin-top: 2rem;
}
.processingOrder__input--wrap{
  input, textarea{
    margin: 1.5rem 0;
    border-top: none;
    border-right: none;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    border-left: 1px solid $green;
    border-bottom: 1px solid $green;
    border-radius: 0;
    &:focus{
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
      box-shadow: 0 0 0 0 rgba(0,0,0,0);
      border-left: 1px solid $green;
      border-bottom: 1px solid $green;
    }
  }
}
.processingOrder__controls--back, .processingOrder__controls--forward{
  @extend .items--layout1__add;
  display: block;
  margin: 3rem 1.5rem;
  float: left;
  width: 25rem;
  text-align: center;
  background: #fff;
  color: $green;
  &:hover,
  &:focus {
    background: $green;
    color: #fff;
  }
}

.count--counter.counter__order{
  background: $grey;
  border:none;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
}

.checkOut--table{
  width: 70%;
  tr{
    background: #eff4f7;
    border-bottom: 1px solid #fff;
    &:nth-child(2n){
      background: #dfe4e7;
    }
    td{
      vertical-align: top;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      &:first-child{
        width: 30%;
      }
    }
  }
}

.checkOut--title{
  font-size: 2.2rem;
  color: $dark-blue;
}