* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:62.5%;
}
body {
  font:400 13px/1.6 'Open Sans', sans-serif;
  background:#fff;
  color:#444;
}
