@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold_cyrillic/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/caviardreams_bold_cyrillic/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_bold_cyrillic/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/caviardreams_bold_cyrillic/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_bold_cyrillic/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('../fonts/caviardreams_bolditalic_cyrillic/CaviarDreams_BoldItalic-webfont.eot');
    src: url('../fonts/caviardreams_bolditalic_cyrillic/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_bolditalic_cyrillic/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('../fonts/caviardreams_bolditalic_cyrillic/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_bolditalic_cyrillic/CaviarDreams_BoldItalic-webfont.svg#caviar_dreamsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('../fonts/caviardreams_italic_cyrillic/CaviarDreams_Italic-webfont.eot');
    src: url('../fonts/caviardreams_italic_cyrillic/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_italic_cyrillic/CaviarDreams_Italic-webfont.woff') format('woff'),
         url('../fonts/caviardreams_italic_cyrillic/CaviarDreams_Italic-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_italic_cyrillic/CaviarDreams_Italic-webfont.svg#caviar_dreamsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams_regular_cyrillic/CaviarDreams-webfont.eot');
    src: url('../fonts/caviardreams_regular_cyrillic/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_regular_cyrillic/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/caviardreams_regular_cyrillic/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_regular_cyrillic/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

