/*  COLORS  */
$grey: #dfe4e7;
$dark-blue: #293b47;
$green: #b4d67f;
$light-pink: #fbf6f0;

/* FONTS */
/*
300 - light
400 - normal
600 - semibold
700 - bold
*/
@mixin opensans($weight) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
